<ion-header>
  <ion-toolbar>
    <ion-title>
      Transaction Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let trx of trxlog | async">
      <ion-label>
        <p *ngIf="trx.wallet">NEW WALLET: {{trx.wallet.walletaddress}}</p>
        <p *ngIf="trx.chain">CHAIN EXCHANGE: {{trx.node}} LEN: {{trx.chain.length}}</p>
        <p *ngIf="trx.message">NEW BLOCK: {{trx.node}}</p>
        <p *ngIf="trx.transaction">NEW TRANSACTION: {{trx.transaction.id}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
