<ion-header>
  <ion-toolbar>
    <ion-title>
      Node: {{nodeID}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Transaction ready for next Block</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let trx of openTransactions | async">
      <ion-label><p>{{trx.transaction.senderAdress.substring(0,4) + '...' + trx.transaction.senderAdress.substring(trx.transaction.senderAdress.length-3)}} =&gt; {{trx.transaction.recipientAddress.substring(0,4) + '...' + trx.transaction.recipientAddress.substring(trx.transaction.recipientAddress.length-3)}}: ${{trx.transaction.amount}}</p></ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="mine()">
    Mine Block
  </ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Current Blockchain</ion-label>
    </ion-list-header>
    <div *ngFor="let block of fullChain | async">
      <ion-list-header>
        <ion-label>Block: {{block.blockNumber}} [{{block.blockNumber > 1 ? 'nonce: ' + block.nonce : 'GENESIS'}}]</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let trx of block.transactions">
        <ion-label><p>{{trx.transaction.senderAdress.substring(0,4) + '...' + trx.transaction.senderAdress.substring(trx.transaction.senderAdress.length-3)}} =&gt; {{trx.transaction.recipientAddress.substring(0,4) + '...' + trx.transaction.recipientAddress.substring(trx.transaction.recipientAddress.length-3)}}: ${{trx.transaction.amount}}</p></ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="consensus()">Check Consensus</ion-button>

</ion-content>
