<ion-header>
  <ion-toolbar>
    <ion-title>
      Blockchain Node: {{nodeID}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Transaction ready for next Block</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let trx of openTransactions | async">
      <ion-label>Sender: {{trx.transaction.senderAdress}}</ion-label>
      <ion-label>Recipient: {{trx.transaction.recipientAddress}}</ion-label>
      <ion-label>Amount: {{trx.transaction.amount}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="mine()">Mine Block</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Current Blockchain</ion-label>
    </ion-list-header>
    <div *ngFor="let block of fullChain | async">
      <ion-list-header>
        <ion-label>Block: {{block.blockNumber}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let btrx of block.transactions">
        <ion-label>Sender: {{btrx.transaction.senderAdress}}</ion-label>
        <ion-label>Recipient: {{btrx.transaction.recipientAddress}}</ion-label>
        <ion-label>Amount: {{btrx.transaction.amount}}</ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ion-button expand="block" type="submit" class="ion-no-margin" (click)="consensus()">Check Consensus</ion-button>

</ion-content>
