<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="client">
      <ion-icon name="desktop"></ion-icon>
      <ion-label>Client</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="node">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Full Node</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trx">
      <ion-icon name="send"></ion-icon>
      <ion-label>Trx Log</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
