<ion-header>
  <ion-toolbar>
    <ion-title>
      Blockchain Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/title.svg" style="max-width: 443px; max-height: 228px;"/>
      <ion-card-header>
        <ion-card-subtitle>The Demo</ion-card-subtitle>
        <ion-card-title>Simple Blockchain</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Blockchain is a database without any central instance. All data is held by the users (Nodes).<br/>
          The Blockchain technology ensures <b>Availability</b> and <b>Integrity</b> of the data.<br/>

        </p>
        <ol>
          <li>Start the App at least twice</li>
          <li>Have a look at the 'Node's</li>
          <li>Mine the first block</li>
          <li>Go to 'Client'; do some transactions</li>
          <li>Mine the next blocks</li>
          <li>Start a third App</li>
          <li>Look at it's Node - it's empty!</li>
          <li>Run 'Consensus' - yeahh data is here!</li>
          <li>Go on playing around ...
        </ol>
        <br/>
        <p>
          <b>Note: </b>The chain lives only in memory. It lives exactly as long as - worldwide - at least one Node (App) is alive!
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="#" onclick="window.open('https://github.com/adisoftware-ch/blockchain/blob/master/README.md', '_system')">
        <ion-icon slot="start" color="medium" name="color-wand"></ion-icon>
        <ion-label>The complete Documentation on how the Demo works</ion-label>
      </ion-item>
      <ion-item href="#" onclick="window.open('https://medium.com/swlh/blockchain-for-dummies-d3daf2170068', '_system')">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Blockchain for Dummies</ion-label>
      </ion-item>
      <ion-item href="#" onclick="window.open('http://adilmoujahid.com/posts/2018/03/intro-blockchain-bitcoin-python', '_system')">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Tutorial Blockchain in Python - the basis for this Demo</ion-label>
      </ion-item>
      <ion-item href="#" onclick="window.open('https://github.com/adisoftware-ch/blockchain', '_system')">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Hands on: The Demo App on GitHub</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
